<div class="container-fluid">
  <div class="container">
      <h1>{{post.title}}</h1>
      <h5>By {{post.author}}</h5>
      <br>
      <img class="container__image" src={{post.file}} alt="Not Found">
      <br>
  </div>
  <div class="container">
      <p>{{post.description}}</p>
  </div>
</div>
