<div class="container-fluid">
  <div class="container">
      <h3>{{post.title}}</h3>
      <h4>{{post.author}}</h4>
  </div>
  <div class="container">
      <p>{{post.description}}</p>
  </div>
</div>