
*{
    font-family: 'Ubuntu',sans-serif;
  }
  
  .dota{
    overflow: auto;
    padding-bottom:50px;
  }
  
  
  .navbar-header{
    line-height: 30px;
    padding:10px 20px;
    letter-spacing: 2px;
  }
  
  
  .navbar-brand{
    vertical-align:text-top;
  }
  
  #custom{
    max-height:80px;
  }
  
  #home{
    padding:0 2%;
    font-size:16px;
  }
  
  #about{
    padding:0 2%;
    font-size:16px;
  }
  
  #login{
    padding:0 2%;
    font-size:16px;
  }

  #home__admin{
    width:180px;
  }
  
  .container-fluid{
    padding-top:20px;
    padding-bottom:40px;
  }
  
  #contact{
    padding:0 2%;
    font-family: sans-serif;
    font-size:15px;
  }
  
  .nav-link{
    letter-spacing: 2px;
    margin-right:10px;
  
  }
  
  .footer{
    padding:1% 13%;
    text-align:left;
    width:100%;
    bottom:0;
    left:30px;
    position:fixed;
  }
  
  #logo{
    float:right;
  }
  
  #copyright{
    float:left;
  }
  
  /* SIDEBAR ADMIN CSS */
  
  #wrapper {
      overflow-x: hidden;
   }

   .container > h2{
    margin:0 auto;
    width:200px;
    margin-top:1.5rem;
   }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
  #dashboard{
    border-top:1px solid lightgray;
  }

  
  .home-container{
    margin:20px;
    padding:10px;
  }
  
  .post-container{
    margin:20px;
    padding:10px;
  }
  
  .fa-angle-down{
    float:right;
    padding:1px;
    margin-top:1px;
  }
  
  span{
    padding:4px;
    margin:5px;
  }
  
  .post-container > h2{
    font-size:32px;
    text-align: center;
    padding:5px;
    margin:5px 10px 30px 20px;
  }
  
  .page-content > h2{
    font-size:32px;
    text-align: center;
    padding:5px;
    margin:10px 10px 30px 20px;
  }
  
  .dota1{
    margin:6px;
  }
  
  .register{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .register__container{
    flex:1;
    margin:30px;
  }
  
  .register__addons{
    flex:1;
  }
  
  .register__form{
    max-width:500px;
    margin:0 auto;
  }
  
  .register__name{
    display:flex;
  }
  
  .login{
    margin:0 auto;
    max-width:400px;
    margin-top:6rem;
    height:400px;
    border:1px solid lightgray;
    padding:5px;
  }
  
  .login__form{
    display:flex;
    flex-direction: column;
    margin:30px;
  }
  
  .login__form > label{
    padding:3px;
    margin-top:5px;
  }
  
  .login__title{
    text-align: center;
    margin-top:9px;
  }
  
  .login__form > input{
    padding:3px;  
  }
  
  .login__form > button{
    margin-top:1.5rem;
  }
  
  .login__sign{
    text-align: center;
    margin-top:-10px;
  }
  
  .login__form > span > a:hover{
    text-decoration: none;
  }
  

.flexit{
  display: flex;
}
  
.container1{
  flex:0.7;
}

.container2{
  flex:0.3;
}

.container__image{
  width:600px;
  height:200px;
  object-fit: contain;
}
  