  <nav id="custom" class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <div class="navbar-header">
              <p class="navbar-brand">Admin Dashboard</p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="nav navbar-nav navbar-right" id="navigation">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <li id="home__admin" class="nav-item">
                <a class="nav-link" href="/">Back to Home</a>
              </li>
              <li id="login" class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
                </li>
            </div>
            </ul>
        </div>
     </nav>